body,
html {
  width: 100%;
  height: 100%;

}

.bg-gradient{
  width: 100%;
  height:100%;

  position: absolute;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+51,0.76+51,0+88,0+88 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.76) 0%, rgba(0,0,0,0.76) 51%, rgba(0,0,0,0) 88%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.76) 0%,rgba(0,0,0,0.76) 51%,rgba(0,0,0,0) 88%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.76) 0%,rgba(0,0,0,0.76) 51%,rgba(0,0,0,0) 88%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


}

body {
  font-family: 'Merriweather', 'Acme', Arial, sans-serif;
}

.text-style{
  font-size: 20px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

  letter-spacing: 2px;
}

.text-style2{

  font-size: 25px;
  font-family: 'Russo One', sans-serif;
  color: #0da30f;


}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #1bd60a ;
}

hr.light {
  border-color: #fff;
}

a {
  color: #F05F40;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #f05f40;
}


/*this heading is section heading position*/
.heading{
  position: relative;
  top: -70px;
  font-size: 50px;
  font-family: 'Russo One', sans-serif;
  text-shadow: 3px 3px #0da30f;
}

.heading2{
  position: relative;
  top: -70px;
  font-size: 40px;
  font-family: 'Russo One', sans-serif;

}

.heading3{
  position: relative;
  top: -70px;
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
  text-decoration-line: underline;

}

.bg-primary {
  /* background-color:  #1bd60a !important; */
    /* background-color:  #ffff !important; */
      background-color:  #0c090a !important;
}

.bg-dark {
    /* background-color: #212529 !important; */
    background-image: url("../img/background-image-section.jpg");
     background-repeat: no-repeat;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.card{
  background-color: #1bd60a ;
}
.card-body1{
  background-color: #1bd60a ;
  border-color: red;
}

.card-text1{
  color: white;
  padding-top: 25px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
  text-shadow: 2px 2px #000000;
}

.card-image{
  position: relative;
  top: -50px;

}

.card-text{
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  text-shadow: 2px 2px #000000;

}

.category-name{
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
    color: #000000;
    text-shadow: 2px 2px #1bd60a;
  }

.category-text{
  font-family: 'Russo One', sans-serif;
}

.text.caption-text{
    font-size: 25px;
    font-family: 'Russo One', sans-serif;
    color: #fff;



}

/*gives caption text a tranparent backgorund without affecting the text*/
.text{
  background-color:rgba(51, 190, 51, .4);
}




section {
  padding: 8rem 0;
    overflow-x: hidden; /*most times this takes out the horizontal side scroll*/
}



.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

.card-pic{
  position: relative;
  top:30px;
}



#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  /* background-color:  #1bd60a ; */
    background-color:  #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #1bd60a;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #1bd60a;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #1bd60a;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #000000;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #000000 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {

  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);

  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 1rem 1.5rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #1bd60a;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #1bd60a;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #1bd60a;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #000000;
  }
}

@media only screen and (max-width: 640px) {
  .hidden{
    display: none;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/outdoor.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 3rem;
  text-shadow: 2px 2px #1bd60a;
}

header.masthead p {
  font-weight: 800;
  font-size: 40px;

}


@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }

}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }

}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 10px 10px;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-box:focus {
  outline: none;
}

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;

  }
}

.text-primary {
  color: #F05F40 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #1bd60a ;
  /* background-color: #7cc4ff; */

}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #000000 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
}


/*-------------------*/

/*nav links for menu grow*/
/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.3); }

.grow1 { transition: all .3s ease-in-out; }
.grow1:hover { transform: scale(1.1); } */

.tab-content{
  padding-top: 25px;
}

/*creates a space between links in mobile view*/
.nav-item{
  padding-bottom: 10px;
}


/*styles the menu tabs*/
.menu-tabs>ul>li>a{

  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  padding: 15px;
    font-size: 20px;
    /* font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; */
    font-family: 'Acme', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

/*added to give the menu tabs an underline transform effect*/
.menu-tabs a::after{
  content:'';
  position: relative;
  box-sizing    : border-box;
  border-radius : 5px;
  height:     5px;
  left:0;
  right:0;
  width         : 0%;
  display       : block;
  background-color: #731963;
  transform: scale(0, 1);
  transition    : transform ease-in-out 250ms;


}

/*transform underline on hover*/
.menu-tabs a:hover::after{
  transform: scale(1, 1);
  width: 100%;
  color: red;


}

/*underline to show on active link*/
.menu-tabs a:active{

  transform: scale(1, 1);
  width: 100%;
  height: 5px;


}


/*on hover of menu tabs to change red*/
.menu-tabs>ul>li>a:hover{
  color: red;
}


.menu-tabs>ul>li>a:focus{
color: red;

}


/*this is displaying underline on the active tab link*/
 .nav-link-tab.active::after {

  transform: scale(1, 1);
   width: 100%;
   height: 5px;
}



/*spacing beetween cards*/
.cards {
  padding-bottom: 10px;
  background-image: url("../img/background-image.jpg");
  color: #fff;
  font-family: 'Acme', sans-serif;
  letter-spacing: 2px;
  transform-origin: 0% 100%;
  animation-duration: .5s;
  animation-name: fadeAndScale;
  animation-timing-function: cubic-bezier(.71,.55,.62,1.57);

}


@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.9, .9);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.menu-item-name h3{
  font-family: 'Acme', sans-serif;
    letter-spacing: 2px;
}

/*displays lines between cards*/
.menu-info {

  padding: 10px;
  border-bottom:1px solid  #fff;
}

.menu-img {
    float: left;
}

.menu-text {
  float: left;
  padding-right: 10px;

}

.price{
  position: absolute;
  top: 10px;
right:80px;
}


/*----------------------*/




/*for zoom in effects of tab content*/
#slider-from-left {


    transform: translateX(100%);
    -webkit-transform: translateX(-100%);

}


#slider-from-right {
  transform: translateX(-100%);
  -webkit-transform: translateX(100%);
}

#slider-from-top {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

#slider-from-bottom {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

.slide-in {
    animation: slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;

}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.box1{

  height: 380px;

}

.box2{

  height: 380px;

}

.map-image{

  height: 380px;
}


.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*-----------------------------------------------------------------*/
/* about section slide show*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  top:-70px;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top:-70px;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*CONTACT FORM*/
.container .contact-form {
  width: 53%;
  margin-left:-2%;
  float: left;
}
.container .contact-form .title {
  font-size: 2.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #242424;
  margin: 5% 8%;
}
.container .contact-form {
  font-size: 1.2em;
  font-weight: 400;
}

.container .contact-form input,
.container .contact-form textarea {
  width: 330px;
  padding: 3%;
  margin: 2% 8%;
  color: #242424;
  border: 1px solid #B7B7B7;
}
.container .contact-form input::placeholder,
.container .contact-form textarea::placeholder {
  color: #242424;
}
.container .contact-form .btn-send {
  background: #1bd60a;
  width: 180px;
  height: 60px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 2% 8%;
  border: none;
}

/*Footer---------------------*/
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.fb-like{
  position:relative;
  top: -40px;
  left:-20px;
  width: 80px;
  height: 80px;
}
